.home-row-1 {
  text-align: center;
  margin: 16px;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.home-container {
  z-index: 10 !important;
}

.site-link {
  color: rgb(135, 170, 130);
}

.site-link:hover {
  color: rgb(135, 170, 130);
  font-weight: 500;
  text-decoration: none;
}

.mathly-link {
  color: rgb(135, 170, 130);
}

.mathly-link:hover {
  color: rgb(135, 170, 130);
  font-weight: 500;
  text-decoration: none;
}

.from-to {
  color: rgb(168, 168, 168);
}

.from-to:hover {
  color: black;
}

.project-header {
  font-weight: bold;
}

.project-header:hover {
  font-style: italic;
  color: rgb(135, 170, 130);
}
