.link-sidebar {
  margin-right: 16px;
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.link-sidebar:hover {
  color: rgb(135, 170, 130);
  text-decoration: none;
}

.my-name {
  color: black;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}

.my-name:hover {
  color: rgb(135, 170, 130);
}

.my-role {
  color: black;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -20px;
}

.my-role:hover {
  color: rgb(135, 170, 130);
}

.block-col-top {
  display: block;
  margin-top: 16px;
  margin-right: 16px;
}

.block-col-bottom {
  display: block;
  margin-top: 2px;
}

.footer-container {
  position: fixed;
  bottom: 20px;
}

.name-footer {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(44, 44, 44);
}

.name-footer:hover {
  color: rgb(135, 170, 130);
}
